<header class="header">
  <div class="bars none">
    <a>
      <img src="/assets/images/icons/bars.png"  alt="" (click)="onClickDisplayMenu()">
    </a>
  </div>
  <div class="title logo">
    <h2><a routerLink="/">SunStore</a></h2>
  </div>

  <div class="list-item">
    <ul class="list">

      <li *ngFor="let item of navs" >
        <a class="item" routerLink="{{item?.path}}">{{item?.name}}</a>
      </li>

      <li *ngFor="let item of auth">
        <a class="item btn btn-signup" routerLink="{{item?.path}}">{{item?.name}}</a>
      </li>


    </ul>
  </div>
</header>

<app-aside-nav
(close)="handleCloseMobileNav()"
*ngIf="isDisplayMenu"></app-aside-nav>

