<header class="header">
  <div class="bars none">
    <a routerLink="">
      <img src="/assets/images/icons/bars.png" alt="">
    </a>
  </div>
  <div class="title logo">
    <h2><a routerLink="/">SunStore</a></h2>
  </div>

  <div class="list-item">
    <ul class="list">
      <li>
        <a class="item" routerLink="/">Home</a>
        <a class="item btn btn-signup" routerLink="/signup">Sign Up</a>
        <a class="item btn btn-signin" routerLink="/signin">Sign In</a>

      </li>
    </ul>
  </div>
</header>
